$primary-color: #0F9D58;
$background-color: #f0f3f7;
$secon-color: #9da2ad;
$grey: #7a7a7b;
$white: #ffffff;


$text-color: #7a7a7b;

$delay1 : 0.1s;
$delay2 : 0.2s;
$delay3 : 0.3s;
$delay4 : 0.4s;
$delay5 : 0.5s;
$delay6 : 0.6s;
$delay7 : 0.7s;
$delay8 : 0.8s;
$delay9 : 0.9s;
$delay10 : 1s;
$delay11 : 1.1s;
$delay12 : 1.2s;