.about {
    background-color: #F0F3F7;

    // animation
     .play-on-scroll.start {
        .about__image{
            animation: left_to_right 1s ease-in-out forwards;
        }

        .about__text {
            animation: right_to_left 1s ease-in-out forwards;
        }
    }

    &__wrapper {
        @include flexbox(center);
        padding: 10.5rem 0;
    }

    &__image {
        width: 50%;
        float: left;
        border-radius: 3.2rem;
        overflow: hidden;
        opacity: 0;
    }

    &__text {

        width: 50%;
        padding: 3rem 5rem;
        border-radius: 3.2rem;
        background-color: #FFF;
        transform: translateX(-10rem);
        z-index: 1;
        opacity: 0;
    }

    &__title {
        font-size: 3.2rem;
        font-weight: bold;
        line-height: 5rem;
        text-align: center;
        span {
            color: $primary-color;
        }

    }

    &__desc{
        text-align: center;
        margin-top: 6rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

}

@include response(tab_tablet) {  
    .about {
        &__wrapper {
            display: float;
        }
       
        &__image {
            display: float;
            width: calc(100% - 2rem)
        }

        &__text {
            position: absolute;
            width: 80%;
            z-index: 99;
        } 

        .play-on-scroll.start {
            .about__text {
                animation: right_to_left0 1s ease-in-out forwards;
            }
        }
    }
}