* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
    scroll-behavior: smooth;
}

body {
    background-color: #F0F3F7;
}

ul, li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}