* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  line-height: 1.6rem;
  scroll-behavior: smooth; }

body {
  background-color: #F0F3F7; }

ul, li {
  list-style: none; }

a {
  display: inline-block;
  text-decoration: none; }

.container, .header {
  max-width: 144rem;
  margin: auto;
  overflow-x: hidden; }

.content {
  margin-left: 2rem; }

.fullheight {
  height: 100vh; }

.back-to-top {
  position: fixed;
  font-size: 5rem;
  bottom: 30px;
  right: 30px;
  color: #0F9D58;
  transition: all 1s; }
  .back-to-top.invisible {
    opacity: 0; }
  .back-to-top:hover {
    opacity: 1;
    transform: scale(0.9); }

.delay-2 {
  transition-delay: 0.2s; }

.delay-4 {
  transition-delay: 0.4s; }

.left-to-right {
  animation: left_to_right 1s ease-in-out forwards; }

.zoom {
  animation: zoom 1s ease-in-out forwards; }

.right_to_left {
  animation-name: right_to_left 1s;
  animation-timing-function: ease-in;
  animation-timing-function: forwards; }

@keyframes left_to_right {
  0% {
    transform: translateX(-100rem);
    opacity: 0; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }
@keyframes right_to_left {
  0% {
    transform: translateX(100rem);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateX(-10rem); } }
@keyframes right_to_left0 {
  0% {
    transform: translateX(100rem);
    opacity: 0; }
  100% {
    transform: translateX(10%);
    opacity: 1; } }
@keyframes bottom_to_top {
  0% {
    transform: translateY(30rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes zoom {
  0% {
    transform: scale(0.5);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
@keyframes zoomLarge {
  0% {
    transform: scale(0.5);
    opacity: 0; }
  100% {
    transform: scale(1.2);
    opacity: 1; } }
@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.btn {
  display: inline-flex;
  color: #0F9D58;
  font-size: 1.4rem;
  border-radius: 1.6rem; }
  .btn:hover {
    background-color: #0F9D58;
    color: white;
    transition: all 1s; }
  .btn--active {
    background-color: #0F9D58;
    color: white; }
  .btn--rounded16 {
    border-radius: 1.6rem; }
  .btn--rounded32 {
    border-radius: 3.2rem; }
  .btn--default {
    border: 2px solid #0F9D58;
    padding: 0.8rem 1.6rem; }
  .btn--slogan {
    margin-top: 5rem;
    border: 2px solid #0F9D58;
    border-radius: 3.2rem;
    padding: 1.6rem 8rem; }
  .btn--primary {
    color: white;
    border: unset;
    background-color: #0F9D58; }
  .btn--food {
    font-weight: 600;
    border: 1px solid #0F9D58;
    padding: 0.8rem 4rem;
    border-radius: 1.6rem;
    text-overflow: hidden;
    margin: 0 1.6rem; }

.header {
  width: 100%;
  position: fixed;
  background-color: #F0F3F7;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
  z-index: 999; }

.menu__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.8rem 2rem; }
.menu__home {
  font-size: 3.2rem;
  font-weight: bold;
  color: #0F9D58; }
.menu-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap; }
  @media (max-width: 740px) {
    .menu-list {
      display: none; } }
.menu__link {
  font-size: 1.6rem;
  font-weight: 600;
  color: #7a7a7b;
  padding: 1.3rem 2.4rem; }
  .menu__link--active, .menu__link:hover {
    background-color: #0F9D58;
    color: white;
    border-radius: 1.6rem; }
  .menu__link + .menu__link {
    margin-left: 1.6rem; }
.menu__cart {
  font-size: 3.15rem;
  color: #0F9D58;
  padding: 0.8rem 0.8rem; }

.slogan {
  background-image: url("../assets/images/brooke-lark-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  top: 0;
  height: auto; }
  .slogan__wrapper {
    width: 50%; }
  .slogan__heading {
    font-size: 8.5rem;
    font-weight: 800;
    padding-top: 15rem;
    color: #0F9D58;
    color: red;
    opacity: 0; }
    @media (max-width: 740px) {
      .slogan__heading {
        font-size: 5.5rem;
        padding-top: 10rem; } }
  .slogan__desc {
    font-size: 1.4rem;
    margin-top: 5rem;
    line-height: 2.4rem;
    color: #7a7a7b;
    opacity: 0; }
  .slogan .btn {
    margin-top: 5rem;
    opacity: 0;
    margin-bottom: 15rem; }
    @media (max-width: 740px) {
      .slogan .btn {
        margin-bottom: 10rem; } }
  .slogan .play-on-scroll.start .slogan__heading {
    animation: left_to_right 1s ease-in-out forwards; }
  .slogan .play-on-scroll.start .slogan__desc {
    animation: left_to_right 1s 0.2s ease-in-out forwards; }
  .slogan .play-on-scroll.start .slogan__btn {
    animation: left_to_right 1s 0.4s ease-in-out forwards; }

.about {
  background-color: #F0F3F7; }
  .about .play-on-scroll.start .about__image {
    animation: left_to_right 1s ease-in-out forwards; }
  .about .play-on-scroll.start .about__text {
    animation: right_to_left 1s ease-in-out forwards; }
  .about__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10.5rem 0; }
  .about__image {
    width: 50%;
    float: left;
    border-radius: 3.2rem;
    overflow: hidden;
    opacity: 0; }
  .about__text {
    width: 50%;
    padding: 3rem 5rem;
    border-radius: 3.2rem;
    background-color: #FFF;
    transform: translateX(-10rem);
    z-index: 1;
    opacity: 0; }
  .about__title {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 5rem;
    text-align: center; }
    .about__title span {
      color: #0F9D58; }
  .about__desc {
    text-align: center;
    margin-top: 6rem;
    font-size: 1.6rem;
    line-height: 2.4rem; }

@media (max-width: 1024px) {
  .about__wrapper {
    display: float; }
  .about__image {
    display: float;
    width: calc(100% - 2rem); }
  .about__text {
    position: absolute;
    width: 80%;
    z-index: 99; }
  .about .play-on-scroll.start .about__text {
    animation: right_to_left0 1s ease-in-out forwards; } }
.food {
  background-image: url("../assets/images/katherine-chase-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  top: 200vh;
  height: auto;
  padding: 10rem 0; }
  .food__wrapper {
    height: auto;
    padding: 6.4rem;
    background-color: white;
    border-radius: 3.2rem; }
  .food__heading {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center; }
    .food__heading > span {
      color: #0F9D58; }
  .food__desc {
    color: #000;
    margin-top: 3.5rem;
    font-size: 1.4rem;
    line-height: 2.5rem;
    text-align: center; }
  .food__menu-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 3.5rem;
    overflow-x: auto; }
    .food__menu-list::-webkit-scrollbar {
      display: none; }
  .food__menu-link {
    display: flex;
    flex-shrink: 0;
    padding: 0.8rem 3.5rem;
    opacity: 0; }
  .food__card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem; }
  .food__card-item {
    aspect-ratio: 2/3;
    border-radius: 3.2rem;
    margin: 5rem 0;
    padding: 1.6rem;
    transition: all 1s;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1); }
    .food__card-item:hover {
      box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.3); }
  .food__card-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 3.2rem;
    overflow: hidden; }
    .food__card-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: all 0.5s; }
      .food__card-image img:hover {
        transform: scale(1.5) rotate(45Deg); }
  .food__card-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5rem;
    padding: 0 1.6rem;
    font-size: 1.8rem; }
  .food__card-desc {
    font-weight: 700; }
  .food__card-price {
    margin-top: 1rem;
    font-size: 1.4rem; }
  .food__card-add {
    color: #0F9D58; }

.food__menu-list.play-on-scroll.start .food__menu-link:nth-child(1) {
  animation: fade 1s;
  animation-timing-function: ease-in;
  animation-delay: 100ms;
  animation-fill-mode: forwards; }
.food__menu-list.play-on-scroll.start .food__menu-link:nth-child(2) {
  animation: fade 1s;
  animation-timing-function: ease-in;
  animation-delay: 200ms;
  animation-fill-mode: forwards; }
.food__menu-list.play-on-scroll.start .food__menu-link:nth-child(3) {
  animation: fade 1s;
  animation-timing-function: ease-in;
  animation-delay: 300ms;
  animation-fill-mode: forwards; }
.food__menu-list.play-on-scroll.start .food__menu-link:nth-child(4) {
  animation: fade 1s;
  animation-timing-function: ease-in;
  animation-delay: 400ms;
  animation-fill-mode: forwards; }
.food__menu-list.play-on-scroll.start .food__menu-link:nth-child(5) {
  animation: fade 1s;
  animation-timing-function: ease-in;
  animation-delay: 500ms;
  animation-fill-mode: forwards; }
.food__menu-list.play-on-scroll.start .food__menu-link:nth-child(6) {
  animation: fade 1s;
  animation-timing-function: ease-in;
  animation-delay: 600ms;
  animation-fill-mode: forwards; }
.food__menu-list.play-on-scroll.start .food__menu-link:nth-child(7) {
  animation: fade 1s;
  animation-timing-function: ease-in;
  animation-delay: 700ms;
  animation-fill-mode: forwards; }
.food__menu-list.play-on-scroll.start .food__menu-link:nth-child(8) {
  animation: fade 1s;
  animation-timing-function: ease-in;
  animation-delay: 800ms;
  animation-fill-mode: forwards; }
.food__menu-list.play-on-scroll.start .food__menu-link:nth-child(9) {
  animation: fade 1s;
  animation-timing-function: ease-in;
  animation-delay: 900ms;
  animation-fill-mode: forwards; }
.food__menu-list.play-on-scroll.start .food__menu-link:nth-child(10) {
  animation: fade 1s;
  animation-timing-function: ease-in;
  animation-delay: 1000ms;
  animation-fill-mode: forwards; }

.food__card-item.play-on-scroll.start {
  animation: bottom_to_top 1s ease-in forwards; }

@media (max-width: 1024px) {
  .food__wrapper {
    padding: 2rem; }
  .food__card-list {
    grid-template-columns: repeat(2, 1fr); } }
@media (max-width: 740px) {
  .food__wrapper {
    padding: 1rem; }
  .food__card-list {
    grid-template-columns: 1fr;
    grid-column-gap: 0; } }

.testimonial__list {
  padding: 16rem 1.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3.15rem; }
  @media (max-width: 1024px) {
    .testimonial__list {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 2rem; } }
.testimonial.start .testimonial__item:nth-child(odd) {
  animation: zoom 1s 0.3s ease-in-out forwards; }
.testimonial.start .testimonial__item:nth-child(even) {
  animation: zoomLarge 1s ease-in-out forwards;
  z-index: 99; }
@media (max-width: 1024px) {
  .testimonial.start .testimonial__item:nth-child(even) {
    animation: zoom 1s ease-in-out forwards;
    z-index: 99; } }
.testimonial__item {
  padding: 1.6rem;
  border-radius: 4.8rem;
  background-color: white;
  text-align: center;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  opacity: 0; }
  .testimonial__item--content {
    border-bottom: 2px solid #7a7a7b; }
    .testimonial__item--content > p {
      margin: 4.8rem;
      font-size: 1.6rem;
      line-height: 2.4rem;
      padding-bottom: 6rem; }
  .testimonial__item--image {
    width: 9.6rem;
    height: 9.6rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 9.6rem;
    height: 9.6rem;
    margin: auto;
    border-radius: 3.2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(-50%); }
  .testimonial__item--name {
    font-size: 1.872rem;
    font-weight: 700;
    margin-top: 1rem; }
  .testimonial__item--rating {
    font-size: 1.4rem;
    color: #0F9D58;
    margin: 3.5rem 0; }

.footer {
  background-image: url("../assets/images/nordwood-themes-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .footer__wrapper {
    min-height: calc(100vh - 6.5rem);
    display: grid;
    grid-template-columns: 5fr 2fr 3fr; }
  .footer__item {
    display: block;
    margin: 14.4rem 0;
    padding: 0 1.6rem;
    font-size: 1.6rem;
    color: white;
    line-height: 2.5rem; }
    .footer__item--heading {
      margin-top: 1.6rem;
      font-size: 2.4rem;
      color: #0F9D58;
      font-weight: bold; }
    .footer__item--detail {
      margin-top: 2.5rem;
      font-size: 1.6rem;
      font-weight: 500; }
  .footer__about-item--link {
    display: block;
    color: white; }
  .footer__subcrible-form {
    display: flex;
    justify-content: space-between;
    margin-top: 3.2rem;
    border: 2px solid #0F9D58;
    border-radius: 3.2rem;
    padding: 1.6rem;
    line-height: normal; }
    .footer__subcrible-form--email {
      color: #0F9D58;
      flex-grow: 1;
      background-color: transparent;
      border: none;
      outline: none;
      box-sizing: border-box; }
    .footer__subcrible-form .btn--subrible {
      font-size: 1.333rem;
      font-weight: 600;
      padding: 0.8rem 1.6rem;
      border-radius: 1.6rem;
      border: none; }

/*# sourceMappingURL=style.css.map */
